<!-- /templates/page.liquid -->
<div class="page-main--wrapper page--static">

  <div class="page__inner">

    <div class="sitewide--title-wrapper">
      <h1 class="page--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

    <div class="page__paradistancer">
        <p><i class="pdicon-paragraph"></i></p>
    </div>

    {% section 'inline-message-sitewide' %}

  </div>

</div>
